h2 {
  color: #3a2dc9;
  font-size: 25px;
}
body {
  font-family: 'Bricolage Grotesque', serif;
}
img {
  border: 3px solid rgb(2, 8, 33);
  padding: 9px;
  margin: 30px;
}
body {
  background-color: #cfe7f9;
}
.hero-section {
  background-image: url('https://www.news-press.com/gcdn/authoring/authoring-images/2025/11/06/PFTM/87114858007-moon-dsc-2557.jpg');
  background-size: cover;
  padding: 20px;
}
